<h1 style="text-align: center;">{{ title }}</h1>
  <ul class="animated flipInX" *ngIf="mode=='list'" >
    <p style="text-align: center; font-size: 2em;" *ngIf="todos.length==0"><small>Não tem nenhuma tarefa hoje!</small></p>
    <li *ngFor="let todo of todos"> {{ todo.title }}  
      <button style="font-family:'Roboto',sans-serif;" *ngIf="!todo.done" class="else" (click)="markAsDone(todo)"><i class="fa fa-check"></i></button>
      <button style=" font-family:'Roboto',sans-serif;" *ngIf="todo.done" class="else"(click)="markAsUndone(todo)"><i class="fa fa-undo"></i> </button>
      <button style=" font-family:'Roboto',sans-serif;" class="button_margin delete" (click)="remove(todo)"><i class="fas fa-times"></i></button>
    </li>
  </ul>

  <div id="modal" *ngIf="mode=='add'" class="animated flipInX">
    <form [formGroup]="form">
      <fieldset>
        <label>Tarefa: </label>
        <input type="text" placeholder="Insira sua tarefa" maxlength="60" formControlName="title">
        <small style="margin: 0 auto;" *ngIf="form.controls.title.invalid && !form.controls.title.pristine">Este campo deve conter entre 3 e 60 caracteres</small>
      </fieldset>
    </form>
  </div>

  <div style="text-align: center;">
    <button class="button4" [disabled]="form.invalid" (click)="add()" *ngIf="mode=='add'"><i class="fa fa-pen"></i> SALVAR</button>
    <button class="add-button animated fadeInUp button4" (click)="changeMode('add')" *ngIf="mode=='list'">
      <i class="fas fa-plus-circle"></i>
      NOVA TAREFA
    </button>

    <button class="add-button animated fadeInUp button4 button_margin" (click)="changeMode('list')" *ngIf="mode=='add'">
      <i class="fas fa-times"></i>
      CANCELAR
    </button><br><br>
    <small>Made by <a href="http://caikelaurentino.com.br/">Caike Laurentino</a>  </small>
  </div>